<!DOCTYPE html>
<html>
  <head>
    <title>CrudApp</title>
    
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-color: #696969">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  
  <%= link_to "CrudApp", home_path,
                        :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <span style="color: grey">
      <%= link_to "Home", home_path,
                        :class => 'nav-link' %></span>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><%= link_to "Create Post", new_post_path,
                                                                                          :class => 'nav-link' %></button>
    
    </form>
  </div>
</nav>
<br><br><br><br>



  
<div class="container">
    <%= yield %>
    </div>
  </body>
</html>
